In [18]:
import pandas as pd
import os
res_location = '/mnt/hgfs/share_file/'
os.chdir(res_location)

In [31]:
data = pd.read_csv('male.csv')
data = data.drop(data.columns[0], axis=1)
data = data.drop_duplicates()
data.to_csv('male.csv', index=False)

female.csv     test.csv   世纪佳缘.csv             珍爱网.csv
male.csv       test2.csv  世纪佳缘_男个人简介.csv  珍爱网内心独白.csv
stopwords.txt  words.csv  世纪佳缘个人简介.csv

In [274]:
data = pd.read_csv('female.csv')
criterias = data[data.columns[9:15]]

In [249]:
def trans(s):
    if s == '不限,':
        return '18,83'
    if s.split(',')[1]=='或以上' or s.split(',')[1]=='':
        return s.split(',')[0] + ',83'
    else:
        return s
tmp = criterias['criterias_age'].map(trans)
criterias.loc[:, 'criterias_age'] = tmp

In [250]:
def trans(s):
    if s == '不限,':
        return '130,260'
    if s.split(',')[1]=='或以上' or s.split(',')[1]=='':
        return s.split(',')[0] + ',260'
    else:
        return s
tmp2 = criterias['criterias_height'].map(trans)
criterias.loc[:, 'criterias_height'] = tmp2

In [275]:
criterias = pd.read_csv('criterias_female.csv')

In [289]:
criterias

,age_flooring,age_ceiling,height_flooring,height_ceiling,criterias_education,criterias_marriage
0,41,49,170,178,硕士,离异
1,27,39,170,190,不限,不限
2,33,41,168,183,不限,离异丧偶
3,38,45,165,181,大专,不限
4,24,30,172,185,本科或以上,未婚
...,...,...,...,...,...,...
1765,32,40,168,175,大专,未婚
1766,30,39,170,185,大专或以上,未婚
1767,37,45,170,185,不限,不限
1768,33,46,130,260,不限,不限
1769,67,74,165,175,不限,未婚丧偶

In [ ]:
def trans(s):
    return int(s.split(',')[0])
criterias['criterias_age'].map(trans)

In [285]:
criterias.insert(0,'age_flooring', criterias['criterias_age'].map(trans))

In [288]:
criterias = criterias.drop(criterias.columns[[4,5,6,-1]], axis=1)

In [290]:
criterias.to_csv('criterias_female.csv', index=False)

In [294]:
data = pd.read_csv('criterias_female.csv')

In [330]:
data['criterias_education'].value_counts()

1    784
3    494
2    466
5     22
6      2
4      2
Name: criterias_education, dtype: int64

In [327]:
edus = {
    '高中中专' : 1,
    '大专' : 2,
    '本科' : 3,
    '双学学士' : 4,
    '硕士' : 5,
    '博士' : 6
}
def edu_filter(x):
    if x == '高中中专及以下或以上' or x == '高中中专及以下' or x == '不限':
        return edus.get('高中中专')
    elif x == '本科' or x == '本科或以上':
        return edus.get('本科')
    elif x == '大专' or x == '大专或以上':
        return edus.get('大专')
    elif x == '双学士' or x == '双学士或以上':
        return edus.get('双学学士')
    elif x == '硕士' or x == '硕士或以上':
        return edus.get('硕士')
    elif x == '博士':
        return edus.get('博士')

In [329]:
data.loc[:, 'criterias_education'] = data['criterias_education'].map(edu_filter)

In [336]:
data['criterias_marriage'].value_counts()

不限      979
未婚      489
未婚离异    143
离异丧偶    108
离异       40
未婚丧偶      7
丧偶        4
Name: criterias_marriage, dtype: int64

In [337]:
marriage = {
    '未婚离异或丧偶': 1,
    '未婚或离异': 2,
    '未婚或丧偶': 3,
    '未婚': 4
}
def marriage_filter(x):
    if x == '离异丧偶' or x == '不限':
        return marriage.get('未婚离异或丧偶')
    elif x == '未婚离异' or x == '离异':
        return marriage.get('未婚或离异')
    elif x == '丧偶' or x == '未婚丧偶':
        return marriage.get('未婚或丧偶')
    elif x == '未婚':
        return marriage.get('未婚')

In [338]:
data.loc[:, 'criterias_marriage'] = data['criterias_marriage'].map(marriage_filter)

In [340]:
data['criterias_marriage'].value_counts()

1    1087
4     489
2     183
3      11
Name: criterias_marriage, dtype: int64

In [342]:
data.to_csv('criterias_test.csv', index=False, header=False)

In [344]:
!hdfs dfs -put criterias_test.csv criterias_test.csv

In [352]:
!hdfs dfs -rm ./stopwords.txt
!hdfs dfs -put /mnt/hgfs/share_file/stopwords.txt ./stopwords.txt

Deleted stopwords.txt